AMAZON_CREDENTIAL_ID=amzn1.application-oa2-client.xxxxxxxxxxxxxxxxxxxxxxxx
AMAZON_CREDENTIAL_SECRET=amzn1.oa2-cs.v1.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AMAZON_CREDENTIAL_VERSION=3.1
AMAZON_PARTNER_TAG=alyssasousa-20
AMAZON_MARKETPLACE=www.amazon.com
SITE_URL=https://YOUR-GITHUB-USERNAME.github.io/amazonassociates
CONTENT_SOURCE=auto
MIN_RATING=4.2
MIN_SAVING_PERCENT=10
MIN_REVIEW_COUNT=100
